<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceamontes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Ceamontes</h1>
    </header>
    <main>
        <h2>Em breve! Novidades!</h2>
        <p>AGUARDEM...</p>
    </main>
    <footer>
        <p>&copy; 2023 Ceamontes</p>
    </footer>
</body>
</html>
